.top-bar-container {
    width: 100%;
    height: 4rem;
    background-color: #1976d2;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .top-bar-left {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        h3 {
            color: #eee;
            margin: 0;
            font-weight: lighter;
            transition: .3s ease;

            &:hover {
                color: #ccc;
                scale: (1.2);
            }
        }
    }

    .top-bar-right {
        /* Fancy Button */

        .fancy-button {
            background-color: white;
            color: #1976d2;
        }

        .fancy-button i.material-icons {
            color: #1976d2;
            padding-right: 4px;
        }
    }

}