/* Checkout Cart, Shipping Prices */

.cart-item{
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
}
